<h1>Books</h1>

<table id="books" class="table table-striped table-light table-hover table-bordered">
<thead class="table-dark">
<tr>
<th>
Book name
</th>
<th>
Author
</th>
<th>
</th>
</tr>
</thead>
  <% @books.each do |book| %>
    <%= render 'bookrow', book:book %>
  <% end %>
</table>

<%= link_to "New book", new_book_path,class:"btn btn-secondary" %>
