<% if @books.size > 0%>
<h1>Books</h1>

<table id="books" style="background-color:#fff;border:solid;border-spacing:2px" class="table table-striped table-light table-hover table-bordered">
<thead class="table-dark">
<tr>
<th>
Book name
</th>
<th>
Author
</th>
<th>
</th>
</tr>
</thead>
  <% @books.each do |book| %>
    <%= render 'bookrow', book:book %>
  <% end %>
</table>
<% else %>
<h1>You have no Books yet</h1>

<% end %>
<%= link_to "Add new book", new_book_path,class:"btn btn-secondary" %>
