<%= render @book %>

<div>
  <%= link_to "Back", books_path,class:"btn btn-secondary" %> |
  <%= link_to "Edit", edit_book_path(@book),class:"btn btn-warning" %> |
  <%= button_to "Destroy", @book, method: :delete,class:"btn btn-danger",form: {style: 'display:inline-block;',data: { turbo_confirm: "Are you sure?" } }%>
</div>
